<!DOCTYPE html>
<html ng-app="Poke">
	<head>
		<script src="../lib/jquery.js"></script>
		<meta charset="UTF-8">
		<title>NPokedex</title>
		<link rel="stylesheet" href="../css/style.css">
		<link rel="stylesheet" href="../lib/boo/css/bootstrap.css">
	</head>
	<body ng-controller="LisPoke">

		<div class="container tit">
			<div class="row subtit">
				<div class="col-md-10 Nom">THE_Pokedex </div>
				<div class="col-md-2"><a href="../index.html">Sign out</a></div>
		</div>

		<div class="esp"></div>

		<div class="container">
			<div class="row">
				<div class="col-md-3 text-center col-sm-4" ng-repeat="L in Lis">
					<div class="mar">

					<img class="pkim" src="{{L.data.sprites.front_default}}">
					</div>
					<div class="nameP">{{L.data.name}}</div>
					<div class="esp"></div>

				</div>
			</div>
		</div>


		<script src="../lib/angular.js"></script>
		<script src="../js/script.js"></script>
	</body>
</html>