<!DOCTYPE html>
<html lang="en-Es">
	<head>
		<script src="../lib/jquery.js"></script>
		<meta charset="UTF-8">
		<title>NPokedex</title>
		<link rel="stylesheet" href="../css/reg.css">
		<link rel="stylesheet" href="../lib/boo/css/bootstrap.css">
		<link rel="stylesheet"  href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"> 

	</head>
	<body>

		<form class="formulario">

			
			<h1><img src="https://http2.mlstatic.com/pokemon-bowl-plato-para-botanas-con-forma-de-pokebola-D_NQ_NP_412525-MLM25439000092_032017-F.jpg" width="60" height="60">Registrate</h1>
			<div class="contenedor">

				<div class="input-contenedor">
					<i class="fas fa-user-circle icon"></i>
					<input type="text" placeholder="Email">
				</div>
				<div class="input-contenedor">
					<i class="fas fa-user-circle icon"></i>
					<input type="text" placeholder="Username">
				</div>

				<div class="input-contenedor">
					<i class="fas fa-key icon"></i>
					<input type="Password" placeholder="Password">
				</div>
				<div class="input-contenedor">
					<i class="fas fa-key icon"></i>
					<input type="Password" placeholder="Confirm Password">
				</div>

				<input href="../index.html" type="submit" value="Registrate" class="button">
				<p>Al registrarte, aceptas las condiciones y politicas de privacidad</p>
				<p>¿Ya tienes cuenta? o ¿Ya la creaste? <a class="link" href="../index.html">Iniciar Sesión</a></p>

			</div>
		</form>

		<script type="text/javascript"></script>
		<script src="../lib/angular.js"></script>
		<script src="../js/reg.js"></script>
	</body>
</html>